@model CalendarEventsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Upcoming Camping Events</h2>

    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">Location</th>
            <th scope="col">Dates</th>
            <th scope="col">Camp Type</th>
            <th scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var calendarEvent in Model.CalendarEvents)
        {
            <tr>
                <td>@calendarEvent.Summary</td>
                <td>@calendarEvent.Start-@calendarEvent.End</td>
                <td>@calendarEvent.CampType</td>
                <td><a href="@calendarEvent.Website" target="_blank">@calendarEvent.Website</a></td>
            </tr>
        }
      </tbody>
    </table>

    <h2 class="display-4">Weekends Booked</h2>

    <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Weekend</th>
              @foreach (var approvedCamper in Model.ApprovedCampers)
              {
                  <th scope="col">@approvedCamper</th>
              }
              
          </tr>
      </thead>
      <tbody>
        @foreach (var weekend in Model.Weekends)
        {
          var dateNotFound = true;
          <tr>
            <td>@weekend.ToString()</td>
          @foreach (var calendarEvent in Model.CalendarEvents)
          {
            
            @if(calendarEvent.StartDateTime == weekend.Start)
            {
              @for (var i = 0; i <= Model.ApprovedCampers.Count - 1; i++)
              {
                var availableCampers = calendarEvent.Campers.Count > 0;
                var nameMatches = calendarEvent.Campers.Where(x => x.Name == Model.ApprovedCampers[i]);
                if (availableCampers && nameMatches.Any())
                {
                    <td><img src="~/assets/img/check-box.svg" alt="" width="32" height="32" title="checkbox"></td>
                }
                else
                {
                  <td></td>
                }
              }
              dateNotFound = false;
              break;
            }
            
          }
          @if(dateNotFound)
          {
            @for (var i = 0; i <= Model.ApprovedCampers.Count - 1; i++)
            {
              <td></td>
            }
          }
          </tr>
        }
      </tbody>
    </table>
</div>